In [1]:
import pandas as pd
import  numpy as np

In [3]:
data = pd.read_excel("_Project-Spreadsheet---for-Data-Validation.xlsx")

In [4]:
print(data)

                               Task  Asignee        READY Review By This Date
0                  Review C5M3 plan     Tony  IN PROGRESS          2020-03-13
1         Map out next week's goals   Ximena  IN PROGRESS          2020-03-19
2            Review weekly invoices    Sally        READY          2020-04-02
3       Send out stakeholder emails    Erica        READY          2020-04-10
4      Follow up on customer emails   Ayanna        READY          2020-04-17
5       Prepare presentation for VP   Hallie          NaN          2020-04-24
6        Schedule next team meeting     Tony          NaN          2020-04-27
7         Map out next week's goals   Ximena          NaN          2020-05-18
8            Review weekly invoices    Sally          NaN          2020-05-25
9       Send out stakeholder emails    Erica          NaN          2020-04-24
10      Set next week's team agenda   Ayanna    NOT READY          2020-04-27
11  Vet all the datasets to be used   Hallie          NaN          2020-05-18
12       Schedule next team meeting     Tony          NaN          2020-05-25
13        Map out next week's goals   Ximena          NaN          2020-04-24
14           Review weekly invoices    Sally          NaN          2020-04-27
15       Schedule next team meeting    Erica          NaN          2020-05-18
16        Map out next week's goals   Ayanna          NaN          2020-05-25
17           Review weekly invoices   Hallie          NaN          2020-04-24
18       Schedule next team meeting     Tony          NaN          2020-04-27
19        Map out next week's goals   Ximena          NaN          2020-05-18
20           Review weekly invoices    Sally          NaN          2020-05-25
21       Schedule next team meeting    Erica          NaN          2020-04-24
22        Map out next week's goals   Ayanna          NaN          2020-04-27
23           Review weekly invoices   Hallie          NaN          2020-05-18
24      Send out stakeholder emails     Tony          NaN          2020-05-25
25                 Review C5M4 plan   Ximena          NaN          2020-04-24
26           Review weekly invoices    Sally          NaN          2020-04-27
27              Begin 2020 planning    Brock          NaN          2020-05-18
28                 Review C5M5 plan     Gale          NaN          2020-06-12
29        Map out next week's goals  Gustavo          NaN          2020-06-18
30        Map out next week's goals     Hank          NaN          2020-07-03
31           Review weekly invoices   Hector          NaN          2020-07-16
32      Send out stakeholder emails    Holly          NaN          2020-08-27
33                 Review C5M4 plan     Jane          NaN          2020-09-07
34           Review weekly invoices    Jesse          NaN          2020-09-16
35              Begin 2020 planning    Lydia          NaN          2020-09-28
36                 Review C5M5 plan    Marie          NaN          2020-10-01
37        Map out next week's goals   Ximena          NaN          2020-11-05
38        Map out next week's goals    Sally          NaN          2020-11-11
39           Review weekly invoices    Erica          NaN          2020-11-25
40      Send out stakeholder emails   Ayanna          NaN          2020-12-02
41                 Review C5M4 plan   Hallie          NaN          2020-12-07
42           Review weekly invoices     Tony          NaN          2020-12-25
43              Begin 2020 planning   Ximena          NaN          2020-12-30

In [5]:
data

                               Task  Asignee        READY Review By This Date
0                  Review C5M3 plan     Tony  IN PROGRESS          2020-03-13
1         Map out next week's goals   Ximena  IN PROGRESS          2020-03-19
2            Review weekly invoices    Sally        READY          2020-04-02
3       Send out stakeholder emails    Erica        READY          2020-04-10
4      Follow up on customer emails   Ayanna        READY          2020-04-17
5       Prepare presentation for VP   Hallie          NaN          2020-04-24
6        Schedule next team meeting     Tony          NaN          2020-04-27
7         Map out next week's goals   Ximena          NaN          2020-05-18
8            Review weekly invoices    Sally          NaN          2020-05-25
9       Send out stakeholder emails    Erica          NaN          2020-04-24
10      Set next week's team agenda   Ayanna    NOT READY          2020-04-27
11  Vet all the datasets to be used   Hallie          NaN          2020-05-18
12       Schedule next team meeting     Tony          NaN          2020-05-25
13        Map out next week's goals   Ximena          NaN          2020-04-24
14           Review weekly invoices    Sally          NaN          2020-04-27
15       Schedule next team meeting    Erica          NaN          2020-05-18
16        Map out next week's goals   Ayanna          NaN          2020-05-25
17           Review weekly invoices   Hallie          NaN          2020-04-24
18       Schedule next team meeting     Tony          NaN          2020-04-27
19        Map out next week's goals   Ximena          NaN          2020-05-18
20           Review weekly invoices    Sally          NaN          2020-05-25
21       Schedule next team meeting    Erica          NaN          2020-04-24
22        Map out next week's goals   Ayanna          NaN          2020-04-27
23           Review weekly invoices   Hallie          NaN          2020-05-18
24      Send out stakeholder emails     Tony          NaN          2020-05-25
25                 Review C5M4 plan   Ximena          NaN          2020-04-24
26           Review weekly invoices    Sally          NaN          2020-04-27
27              Begin 2020 planning    Brock          NaN          2020-05-18
28                 Review C5M5 plan     Gale          NaN          2020-06-12
29        Map out next week's goals  Gustavo          NaN          2020-06-18
30        Map out next week's goals     Hank          NaN          2020-07-03
31           Review weekly invoices   Hector          NaN          2020-07-16
32      Send out stakeholder emails    Holly          NaN          2020-08-27
33                 Review C5M4 plan     Jane          NaN          2020-09-07
34           Review weekly invoices    Jesse          NaN          2020-09-16
35              Begin 2020 planning    Lydia          NaN          2020-09-28
36                 Review C5M5 plan    Marie          NaN          2020-10-01
37        Map out next week's goals   Ximena          NaN          2020-11-05
38        Map out next week's goals    Sally          NaN          2020-11-11
39           Review weekly invoices    Erica          NaN          2020-11-25
40      Send out stakeholder emails   Ayanna          NaN          2020-12-02
41                 Review C5M4 plan   Hallie          NaN          2020-12-07
42           Review weekly invoices     Tony          NaN          2020-12-25
43              Begin 2020 planning   Ximena          NaN          2020-12-30

In [7]:
data.head(6)

                           Task Asignee        READY Review By This Date
0              Review C5M3 plan    Tony  IN PROGRESS          2020-03-13
1     Map out next week's goals  Ximena  IN PROGRESS          2020-03-19
2        Review weekly invoices   Sally        READY          2020-04-02
3   Send out stakeholder emails   Erica        READY          2020-04-10
4  Follow up on customer emails  Ayanna        READY          2020-04-17
5   Prepare presentation for VP  Hallie          NaN          2020-04-24

In [8]:
data.shape

(44, 4)

In [9]:
data.describe()

                 Review By This Date
count                             44
mean   2020-06-25 01:38:10.909090816
min              2020-03-13 00:00:00
25%              2020-04-26 06:00:00
50%              2020-05-18 00:00:00
75%              2020-08-29 18:00:00
max              2020-12-30 00:00:00

In [13]:
(data[3]==NaN).sum()

KeyError: 3

In [14]:
data = pd.read_csv("diabetes.csv")

In [15]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [16]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [17]:
data.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [18]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [19]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [23]:
(data==0).sum()

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
dtype: int64

In [24]:
columns=list(data)

In [25]:
(data[columns[1:6]]==0).sum()

Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
dtype: int64

In [26]:
data[columns[1:6]]=(data[columns[1:6]]).replace(0,np.nan)

In [27]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,2,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,1,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [28]:
(data[columns[1:6]]==0).sum()

Glucose          0
BloodPressure    0
SkinThickness    0
Insulin          0
BMI              0
dtype: int64

In [32]:
(data[columns[1:6]]==np.nan).sum()

Glucose          0
BloodPressure    0
SkinThickness    0
Insulin          0
BMI              0
dtype: int64

In [33]:
data.shape

(768, 9)

In [34]:
data.dropna(inplace=True)

In [35]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
6,3,78.0,50.0,32.0,88.0,31.0,0.248,26,1
8,2,197.0,70.0,45.0,543.0,30.5,0.158,53,1
13,1,189.0,60.0,23.0,846.0,30.1,0.398,59,1
...,...,...,...,...,...,...,...,...,...
753,0,181.0,88.0,44.0,510.0,43.3,0.222,26,1
755,1,128.0,88.0,39.0,110.0,36.5,1.057,37,1
760,2,88.0,58.0,26.0,16.0,28.4,0.766,22,0
763,10,101.0,76.0,48.0,180.0,32.9,0.171,63,0
765,5,121.0,72.0,23.0,112.0,26.2,0.245,30,0

In [36]:
data.shape

(392, 9)